@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #FF5EDF, #05C8DE);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button { 
  cursor: pointer;
}